.accordion-item {
    position: relative;
	width: 100%;
    border-bottom: 1px solid $light-grayish-blue;
	button {
		padding: 1.1875rem 0;
		width: 100%;
		color: $very-dark-grayish-blue;
		background-color: white;
		border: none;
		text-align: inherit;
		font-family: inherit;
        
		&:hover {
            color: $soft-red;
		}
	}
    
	.dropdown-icon {
        // transition: transform 0.2s ease;
		color: $soft-red;
		float: right;
	}

	.content {
		overflow: hidden;
		// transition: max-height 0.2s ease;
		max-height: 0;

		p {
			max-width: 90%;
			line-height: 1.6;
			padding-bottom: 0.8125rem;
		}
	}

	&.toggle {
		button {
			color: $very-dark-desaturated-blue;
			font-weight: 700;
			.dropdown-icon {
				color: $soft-red;
				float: right;
				transform-origin: center;
				transform: rotate(180deg);
			}
		}
	}
}
